<div class="container">
  <div class="col-md-12 col-lg-6">
    <div class="panel">
      <!--Heading-->
      <div class="panel-heading">
        <h3 class="panel-title">Lucas Demo Chat</h3>
      </div>
      <!--Widget body-->
      <div id="demo-chat-body" class="collapse in">
        <div class="nano has-scrollbar" style="height:380px">
          <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
            <ul class="list-unstyled media-block" data-chat>

              <li class="mar-btm">
                <div class="media-left">
                  <img src="http://bootdey.com/img/Content/avatar/avatar1.png" class="img-circle img-sm" alt=" ">
                </div>
                <div class="media-body pad-hor">
                  <div class="speech">
                    <a href="#" class="media-heading">John Doe</a>
                    <p>Hello Lucy, how can I help you today ?</p>
                    <p class="speech-time">
                      <i class="fa fa-clock-o fa-fw"></i>09:23AM
                    </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <div class="nano-pane">
            <div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div>
          </div>
        </div>
        <!--Widget footer-->
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-9">
              <%= text_field_tag :message, nil, placeholder: 'Type your message...', class: 'form-control chat-input', data: { id: 'message' } %>
            </div>
            <div class="col-xs-3">
              <%= button_tag 'Send', class: 'btn btn-primary btn-block', data: { id: 'send-message' } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
